* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body
{
    height: 300vh;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

div {
	display: flex;
	border: 1px solid red;
	margin: 5px;
	width: 100%;
}

.page {
	padding: 25px;
	flex-direction: column;
	height: 100vh;
	justify-content: space-between;
	max-width: 500px;
	min-width: 300px;
}

.section {
	flex-direction: column;
}

#title-and-description-container {
	height: 30vh;
	justify-content: space-around;
	align-items: center;
}

#title-container {

}

#description-container {
	justify-content: center;
	width: 80%;	
}

#description {
	text-align: center;
}


#step1-container {
	height: 70vh;
	align-items: stretch;
}

.section-name {
	height: 10vh;

}

#textarea-and-button-container {
	height: 60vh;

}

#textarea-container {
	flex-grow: 4
}

textarea {
	width: 100%;
	height: 100%;
}

.progress-button-container {
	justify-content: flex-end;
}

button {
  transition-duration: 0.4s;
}

button:click {
  background-color: #4CAF50; /* Green */
  color: white;
}

.progress-button {
	height: 50px;
	width: 150px;
	margin: 10px;
	border-radius: 9px;
}









